*.dll
*.ncrunchproject
*.manifest
.vs/
AsyncAwait.ncrunchsolution.user
_NCrunch_AsyncAwait/
packages/
WebContentReader/obj/
WebContentReader/bin
AsyncAwait/obj/
AsyncAwait/bin/
AsyncAwait.v2.ncrunchsolution
